@model Cosiness.Web.InputModels.Products.ProductInputModel
@using Microsoft.AspNetCore.Identity

@inject UserManager<CosinessUser> UserManager
@{
    ViewData["Title"] = "Home Page";
    //var user = await UserManager.GetUserAsync(this.User);
    //var roles = await UserManager.GetRolesAsync(user);
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>